{
"default-address-pools" : [
    {
        "base" : "{{ docker_default_address_pools['base'] }}",
        "size" : {{ docker_default_address_pools['size'] }}
    }
],
"log-opts": {
    "max-size": "{{ docker_default_log_opts['max_size'] }}",
    "max-file": "{{ docker_default_log_opts['max_file'] }}"
    }
}